.HomePage-Container{
    width: 100%;
    height: fit-content;
    background: #2e2e2e;
}
.HomePage-Container nav{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #39DC00;
}
.HomePage-Container nav .SmallLogoLeft{
    width: fit-content;
    height: 100%;
    padding: 1rem;
}
.SmallLogoLeft img{
    width: 10rem;
}
.HomePage-Container nav .searchBar{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
   margin: 1rem;
}
.searchBar input{
    width: 25rem;
    height: 2.5rem;
    border: 0;
    outline: 0;
    border-radius: 0.5rem;
    padding: 0 1rem;
}
.searchBar i{
    color: #fff;
    font-size: 2rem;
    padding: 0 1rem;
}
.TrendingBannerMain{
    width: 99%;
    height: 80rem;
    margin: 0 auto;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.TrendingBannerMain img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 10s ease-in-out;
}
.TrendingBannerMain .overLay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg,#2e2e2e,rgba(0,0,0,0),#2e2e2e);
    top: 0;
    left: 0;
}
.TrendingBannerMain img:hover{
    transform: scale(110%);
}
.TrendingBannerMain h1{
    position: absolute;
    top: 10rem;
    left: 2rem;
    font-size: 8rem;
    font-weight: 400;
    color: #fff;
}
.TrendingBannerMain p{
    position: absolute;
    top: 22rem;
    left: 2rem;
    font-size: 2.5rem;
    max-width: 50rem;
    color: #fff;
}
@media only screen and (max-width:600px){
    .TrendingBannerMain{
        height: 50rem;
    }
    .TrendingBannerMain h1{
        font-size: 3.5rem;
        font-weight: 800;
        text-decoration: underline;
    }
    .TrendingBannerMain p{
        padding-right: 2rem;
        text-align: justify;
        top: 19rem;
        font-size: 2rem;
        max-width: 100%;
    }
}
.GenreLists{
    flex-basis: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    
}
.GenreLists h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
}
.PosterHolder{
    width: 100%;
    height: fit-content;
    gap: 2rem;
    display: flex;
    overflow-x: scroll; 
}
.PosterHolder img{
    width: auto;
    height: 30rem;
    border-radius: 1rem;
    object-fit: cover;
}